<div>
  @if (item) {
    <div class="card h-100 p-2 shadow-sm">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{{ item.city }}</h5>
        <div class="d-flex align-items-center gap-2">
          <div class="me-2">
            <button
              (click)="onRemoveCity(item.city)"
              class="btn btn-sm btn-outline-warning rounded-circle"
              title="Supprimer"
            >
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body text-center">
        <div
          class="display-6 fw-bold mb-3"
          [style.color]="getTemperatureColor(item.data.current_weather?.temperature)"
        >
          {{
            formatTemperature(
              item.data.current_weather?.temperature,
              item.data.current_weather_units?.temperature
            )
          }}
        </div>

        <div class="mb-3">
          <span class="weather-icon me-2">{{
            weatherService.getWeatherIcon(item.data.current_weather?.weathercode)
          }}</span>

          <span class="me-3">
            {{ weatherService.getWeatherDescription(item.data.current_weather?.weathercode) }}
          </span>

          <span> <i class="bi bi-wind me-2"></i></span>
          <span class="me-2"
            >{{ formatNumber(item.data.current_weather?.windspeed, 1) }}
            <span class="small">{{ item.data.current_weather_units?.windspeed }}</span>
          </span>
        </div>

        <div class="small mb-3 text-secondary">
          <i class="bi bi-clock me-1"></i> Mise à jour:
          {{ formatDate(item.data.current_weather?.time) }}
        </div>

        <div class="display-7 text-center fw-bold text-primary mb-3">Prévisions</div>

        <div class="btn-group btn-group-sm mb-3" role="group">
          <button
            (click)="decrementDay(item.city)"
            class="btn btn-outline-primary"
            title="Jour précédent"
          >
            <i class="bi bi-dash"></i>
          </button>

          <span class="btn btn-outline-primary px-3" style="cursor: default">
            @if (dayIndex === 7) {
              aujourd'hui
            } @else if (dayIndex === 8) {
              demain
            } @else {
              {{ item.data.daily?.time[dayIndex || defaultDayIndex] | date: 'EEE dd/MM' }}
            }
          </span>

          <button
            (click)="incrementDay(item.city)"
            class="btn btn-outline-primary"
            title="Jour suivant"
          >
            <i class="bi bi-plus"></i>
          </button>
        </div>

        <ul class="list-group">
          <li class="list-group-item d-flex mb-2 justify-content-between p-3">
            <span class="h4 weather-icon">{{
              weatherService.getWeatherIcon(item.data.daily?.weathercode[dayIndex || defaultDayIndex])
            }}</span>
            {{ weatherService.getWeatherDescription(item.data.daily?.weathercode[dayIndex || defaultDayIndex]) }}
          </li>

          <li class="list-group-item d-flex mb-2 justify-content-between p-3">
            <span><i class="bi bi-thermometer-high me-2"></i>Températures</span>
            <span
              >{{ formatNumber(item.data.daily?.temperature_2m_min[dayIndex || defaultDayIndex], 1) }} à
              {{ formatNumber(item.data.daily?.temperature_2m_max[dayIndex || defaultDayIndex], 1) }}
            </span>
          </li>

          <li class="list-group-item d-flex mb-2 justify-content-between p-3">
            <span><i class="bi bi-wind me-2"></i>Vent</span>
            <span
              >{{ formatNumber(item.data.daily?.windspeed_10m_max[dayIndex || defaultDayIndex], 1) }}
              <span class="small">{{ item.data.daily_units?.windspeed_10m_max }}</span></span
            >
          </li>

          @if (item.data.daily?.precipitation_sum?.length) {
            <li class="list-group-item d-flex mb-2 justify-content-between p-3">
              <span><i class="bi bi-cloud-rain me-2"></i>Précipitations</span>
              <span
                >{{
                  formatNumber(item.data.daily?.precipitation_sum[dayIndex || defaultDayIndex], 1)
                }}
                <span class="small">{{ item.data.daily_units?.precipitation_sum }}</span></span
              >
            </li>

            <li class="list-group-item d-flex mb-2 justify-content-between p-3">
              <span><i class="bi bi-cloud-rain me-2"></i>Averses</span>
              <span
                >{{ formatNumber(item.data.daily?.showers_sum[dayIndex || defaultDayIndex], 1) }}
                <span class="small">{{ item.data.daily_units?.showers_sum }}</span></span
              >
            </li>
          }

          @if (item.data.daily?.precipitation_probability_max?.length) {
            <li class="list-group-item d-flex mb-2 justify-content-between p-3">
              <span><i class="bi bi-percent me-2"></i>Probabilité de précipitations</span>
              <span
                >{{
                  formatNumber(
                    item.data.daily?.precipitation_probability_max[dayIndex || defaultDayIndex],
                    0
                  )
                }}<span class="small">%</span></span
              >
            </li>

            <li class="list-group-item d-flex mb-3 justify-content-between gap-2 p-4">
              <button
                (click)="showPrecipitationHistory(item.city)"
                class="btn btn-sm btn-outline-info"
                title="Historique des précipitations"
              >
                <i class="bi bi-graph-up"></i> Précipitations
              </button>
              <button
                (click)="showTemperatureHistory(item.city)"
                class="btn btn-sm btn-outline-danger"
                title="Historique des températures"
              >
                <i class="bi bi-thermometer-half"></i> Températures
              </button>
            </li>

            <li class="list-group-item mb-3 p-3">
              <div class="mb-3">
                <span class=""
                  ><i class="bi bi-calendar-range me-2"></i>Précipitations par jour</span
                >
              </div>

              <div class="table-responsive mt-2">
                <table class="table p-2 table-md table-bordered mb-0">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>mm</th>
                      <th>nombre d'heures</th>
                      <th>% probabilité</th>
                    </tr>
                  </thead>
                  <tbody class="p-2">
                    <tr
                      *ngFor="let day of item.data.daily?.time; let i = index"
                      [class.today-row]="day === todayDate"
                    >
                      <td>{{ day | date: 'dd/MM' }}</td>
                      <td>{{ formatNumber(item.data.daily?.precipitation_sum[i], 1) }}</td>
                      <td>{{ formatNumber(item.data.daily?.precipitation_hours[i], 0) }}</td>
                      <td>
                        {{ formatNumber(item.data.daily?.precipitation_probability_max[i], 0) }}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot class="p-2">
                    <tr class="fw-bold">
                      <td>Total</td>
                      <td [class.text-danger]="getTotalPrecipitation() < 2">
                        {{ formatNumber(getTotalPrecipitation(), 1) }}
                      </td>
                      <td colspan="2"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </li>
          }
        </ul>
      </div>
    </div>
  }

  <!-- Modale Historique Précipitations -->
  <app-rain-history-modal
    [showModal]="showHistoryModal"
    [cityName]="selectedCityForHistory"
    [historyData]="precipitationHistory"
    [isLoading]="isLoadingPrecipitationHistory"
    (modalClosed)="closeHistoryModal()"
  >
  </app-rain-history-modal>

  <!-- Modale Historique Températures -->
  <app-temperature-history-modal
    [showModal]="showTemperatureHistoryModal"
    [cityName]="selectedCityForHistory"
    [historyData]="temperatureHistory"
    [isLoading]="isLoadingTemperatureHistory"
    (modalClosed)="closeTemperatureHistoryModal()"
  >
  </app-temperature-history-modal>
</div>
